.cl_STROLL {
  font-size: -webkit-xxx-large;
  display: flex;
  justify-content: center;
  color: rgb(138, 188, 48);
  font-weight: 800;
}
.cl_logo_img {
  margin-right: 1%;
  margin-top: 1.2%;
  width: 5%;
  height: 5%;
}
#id_wrapper {
  margin: 15%;
}
.login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.ant-btn-primary {
  color: #fff;
  background-color: rgb(138, 188, 48);
  border-color: rgb(138, 188, 48);
}
.ant-btn-primary:hover {
  background-color: rgb(166, 207, 68); /* Green */
  border-color: rgb(166, 207, 68);
  color: white;
}
.ant-btn-primary:focus {
  background-color: rgb(138, 188, 48);
  border-color: rgb(138, 188, 48);
  color: white;
}
a {
  color: rgb(138, 188, 48);
}
a:hover {
  color: rgb(166, 207, 68);
}
a:focus {
  color: rgb(138, 188, 48);
}
.ant-input-affix-wrapper .ant-input:not(:first-child):hover {
  border-color: rgb(217, 217, 217);
}
