.cl_mypage {
  display: flex;
}
.cl_ThemeList {
  height: 100%;
  width: 100%;
  background-color: rgb(138, 188, 48);
}
.cl_tag {
  margin-bottom: 50%;
  cursor: pointer;
  top: 13%;
  color: white;
  font-size: x-large;
  position: relative;
}
.cl_tag:hover {
  color: white;
}
.cl_ThemeList_category {
  margin-left: 8%;
  height: 80%;
  font-style: italic;
  color: white;
  position: absolute;
  font-size: xx-large;
  font-weight: 700;
  top: 16%;
}

.cl_trails {
  height: 460px;
  border-right: 3px solid rgb(138, 188, 48);
  padding-left: 10px;
  width: 550px;
  display: flex;
  font-size: x-large;
  font-weight: 700;
  flex-direction: column;
}

/* 아이콘 버튼 */
.cl_temperary {
  display: flex;
  width: 50%;
  margin-top: 0.5%;
  left: 77%;
  top: 2%;
  position: absolute;
  z-index: 2;
  color: rgb(138, 188, 48);
}
.cl_logout_btn,
.cl_allTrail,
.cl_addTrailBtn {
  font-size: 200%;
}

.a,
.b,
.c {
  margin-right: 4%;
}
.a:hover,
.b:hover,
.c:hover {
  cursor: pointer;
  color: rgb(166, 207, 68);
}
/* 아이콘 버튼 */

.cl_mypage_header {
  padding-left: 0.5%;
  font-size: -webkit-xxx-large;
  display: flex;
  justify-content: left;
  color: rgb(138, 188, 48);
  font-weight: 800;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: white;
  height: 10%;
}
#id_mypage_sider {
  background-color: rgb(138, 188, 48);
}

#id_Mypage_main_row {
  margin-top: 9%;
  height: 78%;
}

.cl_logo {
  padding-left: 0.2%;
  background: white;
  border: 1px solid white;
  width: 200px;
  position: absolute;
  height: 72px;
  z-index: 1;
  color: rgb(138, 188, 48);
  font-size: -webkit-xxx-large;
  font-weight: 800;
  top: -8px;
}
#id_mypage_header {
  height: 72px;
  width: 200px;
}

/* ! Mypage Contents */
.cl_trailTag {
  margin-left: 3%;
  margin-top: 6.1%;
  font-weight: 700;
  color: rgb(138, 188, 48);
  font-size: xx-large;
  position: absolute;
  z-index: 3;
}
.cl_Mypage_main_content {
  margin-top: 2.7%;
  padding-top: 2%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  left: 3%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 12px;
  background: white;
}
.cl_trail {
  padding-left: 6%;
  box-shadow: -0.3px 1px 10px -3px lightgrey;
  border-radius: 11px;
  height: 62px;
  font-size: large;
  padding-top: 5%;
  color: rgb(129, 133, 138);
  width: 344px;
  margin-bottom: 4%;
  background-color: white;
}
.cl_Mypage_main_map {
  height: 77%;
  width: 48%;
  left: 7%;
}
.cl_Mypage_TrailList_border {
  border: 1px solid;
}
#id_everyTrails {
  margin-top: 6%;
  width: 107%;
  height: 122%;
  border-radius: 2px;
}
.cl_TrailEl_img {
  width: 10%;
  margin-right: 6%;
}
.cl_TrailEl_bar {
  top: 18%;
  position: absolute;
  left: 20%;
  height: 67%;
  width: 0.5%;
  background-color: rgb(240, 239, 245);
}
.cl_TrailEl_text {
  font-size: medium;
  margin-top: -9%;
  margin-left: 20%;
}
.cl_TrailEl_icon {
  top: 37%;
  margin-left: 85%;
  color: rgb(194, 201, 210);
  position: absolute;
}
/* ! Mypage Contents */

/* ! loading */

.cl_Main_img_loading {
  margin-top: 30%;
  margin-left: 30%;
  width: 25%;
}
.cl_Main_icon_loading {
  position: absolute;
  top: 8%;
  /* margin-top: -1%; */
  font-size: 2em;
  left: 25%;
}
/* ! loading */
