.cl_mypage {
  display: flex;
}
.cl_mypage_info {
  margin-top: 64px;
}
.cl_ThemeList {
  height: 100%;
  width: 100%;
  background-color: rgb(138, 188, 48);
}
.cl_tag {
  top: 13%;
  color: white;
  height: 13%;
  font-size: x-large;
  position: relative;
}
.cl_tag:hover {
  color: white;
}
.cl_ThemeList_category {
  margin-left: 8%;
  height: 80%;
  font-style: italic;
  color: white;
  position: absolute;
  font-size: xx-large;
  font-weight: 700;
  top: 16%;
}

.cl_trails {
  height: 460px;
  border-right: 3px solid rgb(138, 188, 48);
  padding-left: 10px;
  width: 550px;
  display: flex;
  font-size: x-large;
  font-weight: 700;
  flex-direction: column;
}

#id_everyTrails {
  width: 100%;
  height: 100%;
}
/* 아이콘 버튼 */
.cl_temperary {
  display: flex;
  width: 50%;
  margin-top: 0.5%;
  left: 77%;
  top: 2%;
  position: absolute;
  z-index: 2;
  color: rgb(138, 188, 48);
}
.cl_logout_btn,
.cl_allTrail,
.cl_addTrailBtn {
  font-size: 200%;
}

.a,
.b,
.c {
  margin-right: 4%;
}
.a:hover,
.b:hover,
.c:hover {
  color: rgb(166, 207, 68);
}
/* 아이콘 버튼 */

.cl_mypage_header {
  padding-left: 0.5%;
  font-size: -webkit-xxx-large;
  display: flex;
  justify-content: left;
  color: rgb(138, 188, 48);
  font-weight: 800;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: white;
  height: 10%;
}
#id_mypage_sider {
  background-color: rgb(138, 188, 48);
}

#id_Mypage_main_row {
  height: 78%;
}

.cl_logo {
  padding-left: 0.2%;
  background: white;
  border: 1px solid white;
  width: 200px;
  position: absolute;
  height: 72px;
  z-index: 1;
  color: rgb(138, 188, 48);
  font-size: -webkit-xxx-large;
  font-weight: 800;
  top: -8px;
}
#id_mypage_header {
  height: 72px;
  width: 200px;
}

/* ! Mypage Contents */
.cl_trailTag {
  z-index: 1;
  background: rgb(241, 242, 247);
  left: 4%;
  position: relative;
  font-weight: 700;
  color: rgb(138, 188, 48);
  font-size: xx-large;
}
.cl_Mypage_main_content {
  padding-top: 4%;
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(138, 188, 48);
  left: 3%;
  overflow: hidden;
  overflow-y: scroll;
  width: 50;
  margin-top: -3%;
}
.cl_trail {
  font-size: large;
  padding-top: 2%;
  border: 1px solid;
  color: white;
  text-align: center;
  width: 341px;
  height: 39px;
  margin-bottom: 4%;
  background-color: rgb(138, 188, 48);
}
.cl_Mypage_main_map {
  height: 77%;
  width: 48%;
  left: 7%;
}
.cl_Mypage_TrailList_border {
  border: 1px solid;
}
/* ! Mypage Contents */
