.cl_mypage {
  display: flex;
}
.cl_mypage_info {
  margin-top: 64px;
}
.cl_ThemeList {
  height: 90%;
  width: 100%;
  background-color: rgb(138, 188, 48);
}
.cl_tag {
  position: relative;
  color: white;
  height: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: x-large;
  font-weight: 700;
  top: 124px;
}
.cl_ThemeList_category {
  font-style: italic;
  color: white;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: xx-large;
  font-weight: 700;
  top: 15%;
}
.cl_trailTag {
  font-weight: 700;
  color: rgb(138, 188, 48);
  font-size: xx-large;
}
.cl_trails {
  height: 460px;
  border-right: 3px solid rgb(138, 188, 48);
  padding-left: 10px;
  width: 550px;
  display: flex;
  font-size: x-large;
  font-weight: 700;
  flex-direction: column;
}
#id_mapwrapper{
  margin: auto;

  width: 100%;
  height: 100%;
}
#id_everyTrails {
  margin: auto;
  margin-top:5%;
  width: 80%;
  height: 70%;
  border: 1px solid rgb(138, 188, 48);
}
.cl_addTrailBtn {
  float: right;
  width:10%;
  color: white;
  /* border: rgb(62, 95, 0) solid 5px; */
  margin-top: 1%;
/*   left: 92%;
  display: flex;
  position: absolute;
  top: 15%;
  font-weight: 500;
  font-size: larger; */
}

#id_mypage_header {
  background-color: white;
}
#id_mypage_sider {
  background-color: rgb(138, 188, 48);
}

.cl_Mypage_main_content{
  /* border: 3px solid rgb(138, 188, 48); */

  height: 100%;
}
#id_Mypage_main_row {
  height: 80%;
}
#id_Mypage_traillistElement{
  /* color: white; */
  padding: 5%;

  width: 90%;
  height: 10%;
  margin: 5%;
  background-color: rgb(138, 188, 48);
}
.cl_trail {
  color: white;
  height: 100%;
  width: 100%;
  /* border: 3px solid rgb(138, 188, 48); */
  margin: auto;
}
.cl_logo {
  padding-left: 0.2%;
  background: white;
  border: 1px solid white;
  width: 200px;
  position: absolute;
  height: 72px;
  z-index: 1;
  color: rgb(138, 188, 48);
  font-size: -webkit-xxx-large;
  font-weight: 800;
  top: -8px;
}
#id_mypage_header {
  height: 72px;
  width: 200px;
}
