#id_addTrail_main_row {
  /* border: 2px solid rgb(138, 188, 48); */
  display: flex;
  flex-direction: row;
  margin: 2%;
  height: 92%;
  top: 2%;
}
#id_addTrail_Map {
  width: 90%;
  height: 80%;
  margin: 5%;
  margin-top: 10%;
}
.cl_addTrail_form {
  padding-left:15%;
  padding-top: 7%;
  
  border: 2px solid rgb(138, 188, 48);
  width: 90%;
  height: 80%;
  margin: 5%;
  margin-top: 14%;
}
.cl_addTrail_logo {
  padding-left: 2%;
  border-radius: 2px;
  width: 240px;
  background: rgb(138, 188, 48);
  left: 1%;
  top: -36px;
  z-index: 1;
  position: absolute;
  color: white;
  font-size: -webkit-xxx-large;
  font-weight: 800;
}

.cl_addTrail_rate {
  width: 100%;
}
.cl_Trailname {
  width: 33%;
}
.cl_tagSelector {
  width: 40%;
}
.cl_addTrail_text {
  width: 80%;
  margin-top: 5%
}
.cl_addTrail_upload {
  width: 80%;
  margin-top: 5%

}
.cl_addTrail_btn {
  float: right;

}

.cl_addTRail_head {

}
.ant-alert {
  width: 60%;
  z-index: 3;
  text-align: center;
  margin:30%;
  font-weight: 600;
}
