/* antd */
.ant-layout {
  height: 100%;
}

/* 공통 */
#id_trailinfo_main_row {
  width: 90%;
  margin: auto;
  height: 90%;
}
.cl_trailinfo_header {
  padding-left: 5%;
  background-color: rgb(138, 188, 48);
}
.cl_trailinfo_footer {
  padding: 5%;
  background-color: rgb(138, 188, 48);
}
.cl_trailinfo_content {
}
/* Info_Map */
#id_trailinfo_info_map {
  margin: 2%;
  width: 55%;
  height: 100%;
}
#id_img_trailinfo {
  width: 100%;
  height: 100%;
}
#id_test {
  width: 90%;
  height: 90%;
}
#id_trailinfo_map {
  margin: auto;
  width: 80%;
  height: 60%;
}
#id_button_home {
  float: right;
}
/* Info_Trail */
#id_trailinfo_info_trail {
  margin: 2%;
  width: 35%;
  height: 100%;
}
#id_trialinfo_review {
  height: 40%;
}

/* Photozone */
#id_trailinfo_photozone {
  height: 30%;
}

/* RecentReview */
#id_trialinfo_commentBox {
  height: 50%;
}
#id_trailinfo_commentlist {
  height: 80%;
  background-color: grey;
}
.cl_trailInfo_loading {
  font-weight: 500;
  margin-top: 18%;
  align-items: center;
  text-align: center;
  color: rgb(138, 188, 48);
  font-size: 8em;
}
.cl_trailInfo_img_loading {
  top: 43.5%;
  position: absolute;
  left: 50.3%;
  width: 5%;
}
.cl_trailInfo_icon_loading {
}
